body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
img {
  width: 30px;
  display: flex;
  justify-content: end;
}
ul {
  list-style: none;
}
li {
  display: flex;
  text-align: start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
  padding: 5px;
}
button {
  display: block;
}